.blue{background-color: blue;}
.aqua{background-color: aqua;}
.gray{background-color: gray;}
.beige{background-color: beige;}
.gold{background-color: gold;}
.orange{background-color: orange;}

.weather-current-block {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-current-block__header {
    display: flex;
}

.weather-current-block__temp {
    font-size: 70px;
    text-align: center;
}

.weather-current-block__icon {
    max-width: 50px;
}


.weather-current-block__footer {
    display: flex;
    align-items: center;
}


.weather__current-block {
    flex-direction: row;
}

.weather-city__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    z-index: 100;
}

.weather__temp {
    width: 160px;
    height: 50px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.weather__icon {
    max-width: 50px;
}


